body, div, section, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, ul, ol, li, label {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

button, input {
  outline: none;
  background: none;
  border: none;
}

ul, ol, li {
  list-style: none;
}

a {
  color: rgba(36, 34, 34, 0.85);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: "";
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.row {
  padding: 0 15px;
  margin: 0 auto;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.bg {
  background: #fff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.full {
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  .col-1-sm {
    width: 8.33333%;
  }
  .col-2-sm {
    width: 16.66667%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.33333%;
  }
  .col-5-sm {
    width: 41.66667%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: 58.33333%;
  }
  .col-8-sm {
    width: 66.66667%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-10-sm {
    width: 83.33333%;
  }
  .col-11-sm {
    width: 91.66667%;
  }
  .col-12-sm {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

ul.navbar li {
  float: left;
  display: block;
}

.bg:before, .container:before, .full:before {
  clear: both;
  content: "";
  display: block;
}

.bg:after, .container:after, .full:after {
  clear: both;
  content: "";
  display: block;
}

.nav-path {
  width: 100%;
  background: #fff;
}

.nav-path ul {
  padding: 5px 0;
}

.nav-path li {
  float: left;
}

.nav-path li a {
  color: #e8e363;
  text-decoration: none;
}

.nav-path li a:after {
  content: "\e9fe";
}

.project-bk {
  background: #fff;
  height: 100%;
  width: 100%;
}

.login-box {
  width: 100%;
  margin: 20px 0;
}

.login-box h3 {
  margin: 10px 0;
}

.login-box .login-box-body {
  margin-top: 20px;
}

.login-box .login-box-body .uname-box, .login-box .login-box-body .upwd-box {
  position: relative;
  margin-bottom: 5px;
}

.login-box .login-box-body .uname-box i:before, .login-box .login-box-body .upwd-box i:before {
  right: 4px;
  top: 5px;
  position: absolute;
  content: "\e625";
  color: rgba(25, 223, 35, 0.9);
}

.login-box .login-box-body .uname-box input, .login-box .login-box-body .upwd-box input {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #999;
  border-radius: 2px;
  text-indent: 10px;
}

.login-box .login-box-body .uname-box .tips-box, .login-box .login-box-body .upwd-box .tips-box {
  margin-top: 5px;
  color: rgba(240, 12, 12, 0.9);
}

.login-box .login-box-body .uname-box .tips-box span, .login-box .login-box-body .upwd-box .tips-box span {
  font-size: 14px;
  line-height: 14px;
}

.login-box .login-box-body .uname-box .tips-box span:before, .login-box .login-box-body .upwd-box .tips-box span:before {
  content: "\e61b";
}

.login-box .login-box-body .btn-login {
  display: block;
  margin-top: 30px;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  background: #e8e363;
}

.login-box .login-box-body p {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  line-height: 14px;
}

.login-box .login-box-body p input {
  margin: 0;
}

.login-box .login-box-body p a {
  float: right;
  color: #e8e363;
}

.third-account {
  margin-top: 40px;
  width: 100%;
}

.third-account .third-account-title {
  display: block;
  width: 100%;
  position: relative;
  height: 20px;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid #999;
}

.third-account .third-account-title span {
  font-size: 14px;
  color: #999;
  position: absolute;
  display: block;
  left: 30%;
  padding: 0px 5px;
  top: -12px;
  background: #fff;
}

.third-account-body {
  width: 100%;
}

.third-account-body ul {
  margin-top: 10px;
}

.third-account-body li {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  padding-left: 25px;
}

.third-account-body li a {
  background: #fff;
  display: block;
  border: 1px solid #f2f2f2;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.third-account-body li a svg {
  width: 100%;
  height: 100%;
}
