//初始化组件
$baseColor:rgba(36, 34, 34, 0.85);
$fontColor:rgb(235, 150, 38);
$color1:rgb(232,227,99);
$color2:rgb(255,64,58);
$color3:rgb(138,180,232);
$color4:rgb(191,241,255);
$color5:rgb(246,255,227);
$correct:rgba(25, 223, 35, 0.9);
$wrong:rgba(240, 12, 12, 0.9);
$bdr:1px solid #999;
$box:2px 2px 2px 0 rgba(0,0,0,.15); 